In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
a1=pd.read_csv("articles1.csv")
a2=pd.read_csv("articles2.csv")
a2.dropna(inplace=True)
a3=pd.read_csv("articles3.csv")
a3.dropna(inplace=True)

In [28]:
a1.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [29]:
print(a1.title.shape)
print(a2.title.shape)
print(a3.title.shape)

(50000,)
(33695,)
(41593,)

In [30]:
print(a1.content.shape)
print(a2.content.shape)
print(a3.content.shape)

(50000,)
(33695,)
(41593,)

In [31]:
title=open("title.txt",'w')
title1=a1["title"]
title2=a2["title"]
title3=a3["title"]
for line in title1:
    title.write(str(line) +"\n")
for line in title2:
    title.write(str(line)+"\n")
for line in title3:
    title.write(str(line) +"\n")
title.close()

In [32]:
content=open("content.txt",'w')
content1=a1["content"]
content2=a2["content"]
content3=a3["content"]
for line in content1:
    content.write(str(line) +"\n")
for line in content2:
    content.write(str(line)+"\n")
for line in content3:
    content.write(str(line) +"\n")
content.close()

In [33]:
a1.content.shape

(50000,)

In [34]:
a2.content.shape

(33695,)

In [35]:
a3.content.shape

(41593,)

In [36]:
content=open("content.txt",'r')
j=0
for line in content:
    j+=1
print(j)
content.close()

127267

In [37]:
title=open("title.txt",'r')
k=0
for line in title:
    k+=1
print(j)
title.close()

127267