In [1]:
import sqlite3
import pandas as pd

In [2]:
data=sqlite3.connect('all-the-news.db')

In [3]:
def sql_fetch(data):
    cursorObj=data.cursor()
    cursorObj.execute('select name from sqlite_master where type="table"')
    print(cursorObj.fetchall())
sql_fetch(data)

[('longform',)]

In [4]:
df = pd.read_sql_query("SELECT * FROM longform", data)

In [5]:
df.head(5)

,id,title,author,date,content,year,month,publication,category,digital,section,url
0,1,Agent Cooper in Twin Peaks is the audience: on...,\nTasha Robinson\n,2017-05-31,And never more so than in Showtime’s new...,2017,5,Verge,Longform,1.0,None,None
1,2,"AI, the humanity!",\nSam Byford\n,2017-05-30,AlphaGo’s victory isn’t a defeat for hum...,2017,5,Verge,Longform,1.0,None,None
2,3,The Viral Machine,\nKaitlyn Tiffany\n,2017-05-25,Super Deluxe built a weird internet empi...,2017,5,Verge,Longform,1.0,None,None
3,4,How Anker is beating Apple and Samsung at thei...,\nNick Statt\n,2017-05-22,Steven Yang quit his job at Google in th...,2017,5,Verge,Longform,1.0,None,None
4,5,Tour Black Panther’s reimagined homeland with ...,\nKwame Opam\n,2017-05-15,Ahead of Black Panther’s 2018 theatrical...,2017,5,Verge,Longform,1.0,None,None

In [6]:
df.shape

(204135, 12)

In [9]:
df.isna().any()

id             False
title          False
author          True
date            True
content         True
year            True
month           True
publication     True
category        True
digital         True
section         True
url             True
dtype: bool

In [10]:
ndf=pd.DataFrame(data=df["content"],columns=["Articles"])

In [12]:
ndf["Articles"]=df["content"]

In [14]:
ndf["Headline"]=df["title"]

In [17]:
ndf.isna().any()

Articles     True
Headline    False
dtype: bool

In [18]:
ndf.tail(20)

,Articles,Headline
204115,"Adam Wilk, a Mets left-hander who had not pitc...","After Matt Harvey Is Disciplined, Mets Fill-In..."
204116,The following is the text of a statement relea...,Text of Beverly Young Nelson’s Accusation Agai...
204117,,Comey’s Testimony Before the Senate Intelligen...
204118,None,"When They Say ‘State Your Name,’ She Says: ‘Ye..."
204119,CAIRO — President Abdel Fattah el-Sisi of Egyp...,Egyptian President Agrees to Cede 2 Islands to...
204120,"REZU AMTALI, Bangladesh — They stumble down mu...",Desperate Rohingya Flee Myanmar on Trail of Su...
204121,None,What (if Anything) Does Carter Page Know? - Th...
204122,None,Opinion | The Autumn of the Oscars - The New Y...
204123,Rick Rojas is a reporter for The Times who gre...,"My Unforgettable Drive Home to Beaumont, Texas..."
204124,LONDON — You might call it a triumphal return:...,How Taking Flight in London Helped ‘Angels in ...
204125,None,"4 Standout College Application Essays on Work,..."
204126,SAN FRANCISCO — Airbnb agreed on Monday to set...,"Airbnb Settles Lawsuit With Its Hometown, San ..."
204127,In the Band’s popular song “The Night They Dro...,The Making and the Breaking of the Legend of R...
204128,None,Opinion | We’re Not Ready for a Flu Pandemic -...
204129,The Rev. Billy Graham admitted in his later ye...,Billy Graham Warned Against Embracing a Presid...
204130,None,Opinion | The West’s Schism Over Liberal Value...
204131,"Sammy Stewart, who set a record when he struck...","Sammy Stewart, Pitcher Whose Life Took a Downt..."
204132,Good morning. (Want to get California Today by...,California Today: Down to the Wire in Hollywoo...
204133,None,An Export From Sweden: Art Treasures Collected...
204134,,Taking a Knee and Taking Down a Monument - Vid...

In [19]:
ndf.dropna(inplace=True)

In [20]:
ndf.tail(20)

,Articles,Headline
204105,When Melissa Mark-Viverito was elected as City...,"No Longer at the Mayor’s Flank, Mark-Viverito ..."
204106,We’re following major developments in the mark...,"Movers: Markets Up, and Jimmy Choo for Sale - ..."
204107,"ATLANTA — Some professional athletes (hello, R...",A Way to Extend Her W.N.B.A. Career? Opening a...
204108,WASHINGTON — Republican plans to repeal the Af...,Repeal of Health Law Faces a New Hurdle: Older...
204110,"With drinking water cut off, its river still r...",New Worries About Storm Damage as Beaumont’s D...
204111,A RENOVATED APARTMENT IN A STONE HOUSE IN CROA...,House Hunting in … Croatia - The New York Times
204113,"The following are excerpts, as prepared and re...",Excerpts From Trump’s Conversation With Journa...
204115,"Adam Wilk, a Mets left-hander who had not pitc...","After Matt Harvey Is Disciplined, Mets Fill-In..."
204116,The following is the text of a statement relea...,Text of Beverly Young Nelson’s Accusation Agai...
204117,,Comey’s Testimony Before the Senate Intelligen...
204119,CAIRO — President Abdel Fattah el-Sisi of Egyp...,Egyptian President Agrees to Cede 2 Islands to...
204120,"REZU AMTALI, Bangladesh — They stumble down mu...",Desperate Rohingya Flee Myanmar on Trail of Su...
204123,Rick Rojas is a reporter for The Times who gre...,"My Unforgettable Drive Home to Beaumont, Texas..."
204124,LONDON — You might call it a triumphal return:...,How Taking Flight in London Helped ‘Angels in ...
204126,SAN FRANCISCO — Airbnb agreed on Monday to set...,"Airbnb Settles Lawsuit With Its Hometown, San ..."
204127,In the Band’s popular song “The Night They Dro...,The Making and the Breaking of the Legend of R...
204129,The Rev. Billy Graham admitted in his later ye...,Billy Graham Warned Against Embracing a Presid...
204131,"Sammy Stewart, who set a record when he struck...","Sammy Stewart, Pitcher Whose Life Took a Downt..."
204132,Good morning. (Want to get California Today by...,California Today: Down to the Wire in Hollywoo...
204134,,Taking a Knee and Taking Down a Monument - Vid...

In [25]:
import numpy as np

In [30]:
ndf.shape

(191181, 2)

In [84]:
df=ndf[ndf["Articles"] != ""]

In [85]:
df.shape

(188732, 2)

In [89]:
df=df[df["Articles"] != " "]
df=df[df["Articles"] != "  "]
df=df[df["Articles"] != "   "]
df=df[df["Articles"] != "    "]
df=df[df["Articles"] != "     "]
df=df[df["Articles"] != "     "]
df=df[df["Articles"] != "      "]
df=df[df["Articles"] != "       "]
df=df[df["Articles"] != "        "]
df=df[df["Articles"] != "         "]
df=df[df["Articles"] != "          "]

In [90]:
df.shape

(188693, 2)

In [92]:
df=df[df["Headline"] != ""]
df=df[df["Headline"] != " "]
df=df[df["Headline"] != "  "]
df=df[df["Headline"] != "   "]
df=df[df["Headline"] != "    "]
df=df[df["Headline"] != "     "]
df=df[df["Headline"] != "      "]

In [94]:
df.shape

(188150, 2)

In [ ]:
count=0
art=[]
head=[]
for i in range(len(df["Articles"])):
    if len(df["Articles"][i]) > 20:
        art.append(df["Articles"][i])
        head.append(df["Headline"][i])
        count+=1
print(count)

In [126]:
df.head()

,Articles,Headline
0,And never more so than in Showtime’s new...,Agent Cooper in Twin Peaks is the audience: on...
1,AlphaGo’s victory isn’t a defeat for hum...,"AI, the humanity!"
2,Super Deluxe built a weird internet empi...,The Viral Machine
3,Steven Yang quit his job at Google in th...,How Anker is beating Apple and Samsung at thei...
4,Ahead of Black Panther’s 2018 theatrical...,Tour Black Panther’s reimagined homeland with ...

In [127]:
df.to_csv("Kaggle Headline Data.csv")

In [ ]:
df["Articles"]